In [1]:
from dashboard.db import DataFetcher, DBCreds

db_creds = DBCreds(
    host="localhost",
    port="3306",
    user="local",
    password="local",
    database="jobs_data"
)
db_data = DataFetcher(db_creds)

In [4]:
from datetime import datetime 

start_date = datetime(2021, 1, 1)
end_date = datetime(2025, 1, 31)

data = db_data.fetch_data_bw_dates(start_date, end_date)

In [24]:
sdf

                                    job_function  counts
0         Engineering and Information Technology    1839
1                         Information Technology    1101
2                                          Other     349
3                                    Engineering     310
4         Information Technology and Engineering     243
..                                           ...     ...
402    Accounting/Auditing, Analyst, and Finance       1
403              Accounting/Auditing and Analyst       1
404                          Sales and Marketing       1
405                         Sales and Management       1
406  Research, Strategy/Planning, and Consulting       1

[407 rows x 2 columns]

In [26]:
sdf = df.groupby(['job_function']).size().reset_index(name='counts').sort_values(by='counts', ascending=False).reset_index(drop=True)

In [27]:
sdf

                                    job_function  counts    x
0         Engineering and Information Technology    1839    0
1                         Information Technology    1101    1
2                                          Other     349    2
3                                    Engineering     310    3
4         Information Technology and Engineering     243    4
..                                           ...     ...  ...
402    Accounting/Auditing, Analyst, and Finance       1  402
403              Accounting/Auditing and Analyst       1  403
404                          Sales and Marketing       1  404
405                         Sales and Management       1  405
406  Research, Strategy/Planning, and Consulting       1  406

[407 rows x 3 columns]

In [ ]:
# write a function which would assign x and y values to each job function to be plotted on a bubble chart without overlapping
# the bubbles
# the function should take the dataframe and the column names as input and return a dataframe with x and y values assigned
# to each job function
def assign_x_y(df, size_col):
    df = df.sort_values(by=size_col, ascending=False).reset_index(drop=True)
    df["x"] = df.index
    df["y"] = 0
    return df

In [42]:
import plotly.express as px
import pandas as pd

df = data
sdf = df.groupby(['job_function']).size().reset_index(name='counts').sort_values(by='counts', ascending=False).reset_index(drop=True)
# draw a tree map in plotly
fig = px.treemap(sdf, path=["job_function"], values="counts", title="Job Functions")
# save the figure
fig.write_html("job_functions.html")

In [38]:
!pip install nbformat>=4.2.0

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [40]:
fig.show()

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed